<html>


    <head>
        <link rel="stylesheet" href="/static/styles/login-logout.css">
        <title>Login</title>
    </head>


    <body>

            <div class="content">
                <form id="login-form">
                    <label for="username-input" id="label-login">LOG IN</label>
                    <br>
                    <input type="text" id="username-input" placeholder="username">


                    <input type="submit" id="submit-login" value="SUBMIT">
                </form>
            </div>  

    </body> 

<script src="/static/scripts/login.js"></script>
<script src="/static/scripts/users.js"></script>

</html>