
td {
width: 50px;
height: 50px;
position: relative;

outline: solid black 1px;

text-align: center;
text-transform: capitalize;

font-family: monospace;
font-size: 20px;

}

table { 
    border-spacing: 10px;
    border-collapse: separate;
}

tr {
    margin: 5px;
}

td:after {
content: '';
display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

form, input, p {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin: 5px;
}

